BODY { 
      background-color:#ffffff;  }
P { 
   font-family:Verdana; 
   font-size:10.0pt; 
   color:#000000;  }
LI.kadov-P { 
            font-family:Verdana; 
            font-size:10.0pt; 
            color:#000000;  }
H1 { 
    font-family:Verdana; 
    font-weight:bold; 
    font-size:12.0pt; 
    color:#000000;  }
LI.kadov-H1 { 
             font-family:Verdana; 
             font-weight:bold; 
             font-size:12.0pt; 
             color:#000000;  }
H2 { 
    font-family:Verdana; 
    font-weight:bold; 
    font-size:10.0pt; 
    color:#000000;  }
LI.kadov-H2 { 
             font-family:Verdana; 
             font-weight:bold; 
             font-size:10.0pt; 
             color:#000000;  }
H3 { 
    font-family:Verdana; 
    font-weight:normal; 
    font-size:10.0pt; 
    color:#000000;  }
LI.kadov-H3 { 
             font-family:Verdana; 
             font-weight:normal; 
             font-size:10.0pt; 
             color:#000000;  }
H4 { 
    font-family:Verdana; 
    font-weight:normal; 
    font-size:10.0pt; 
    color:#000000;  }
LI.kadov-H4 { 
             font-family:Verdana; 
             font-weight:normal; 
             font-size:10.0pt; 
             color:#000000;  }
H5 { 
    font-family:Verdana; 
    font-weight:normal; 
    font-size:10.0pt; 
    color:#000000;  }
LI.kadov-H5 { 
             font-family:Verdana; 
             font-weight:normal; 
             font-size:10.0pt; 
             color:#000000;  }
H6 { 
    font-family:Verdana; 
    font-weight:normal; 
    font-size:10.0pt; 
    color:#000000;  }
LI.kadov-H6 { 
             font-family:Verdana; 
             font-weight:normal; 
             font-size:10.0pt; 
             color:#000000;  }
A:link { 
        x-text-underline:normal; 
        text-decoration:underline; 
        color:#0000ff;  }
A:visited { 
           x-text-underline:normal; 
           text-decoration:underline; 
           color:#0000ff;  }
A.expandspot { 
              color:#008000; 
              cursor:hand; 
              font-style:italic; 
              text-decoration:none;  }
SPAN.expandtext { 
                 font-style:italic; 
                 font-weight:normal; 
                 color:#ff0000;  }
A.dropspot { 
            cursor:hand; 
            color:#008000; 
            font-style:italic; 
            text-decoration:none;  }
A.glossterm { 
             color:#800000; 
             cursor:hand; 
             font-style:italic; 
             text-decoration:none;  }
SPAN.glosstext { 
                font-style:italic; 
                font-weight:normal; 
                color:#0000ff;  }
OL { 
    margin-top:0px; 
    margin-bottom:0px;  }
UL { 
    margin-top:0px; 
    margin-bottom:0px;  }
